[Unit]
Description=Account management administration web API 
After=network.target

[Service]
User=root 
ExecStart=/home/mailadm/venv/bin/gunicorn -b localhost:3961 -w 1 mailadm.app:app
Restart=always

[Install]
WantedBy=multi-user.target
