# put this file into {systemd}/mailadm-prune.service
[Unit]
Description=Mailadm Pruning Cleanup Job
After=network.target

[Service]
User=mailadm 
# note that mailadm needs to be part of the "vmail" group
# so that it can delete expired accounts 
ExecStart=/home/mailadm/venv/bin/mailadm prune 
Environment="MAILADM_CFG={mailadm_cfg}"
Restart=always
RestartSec=3600

[Install]
WantedBy=multi-user.target
