[Unit]
Description=Mailadm account pruning job
After=network.target

[Service]
User={vmail_user}
Group={vmail_user}
Environment="MAILADM_DB={path_mailadm_db}"
ExecStart={mailadm_home}/venv/bin/mailadm prune
Restart=always
RestartSec=3600

[Install]
WantedBy=multi-user.target
